doctype html
html(xmlns='http://www.w3.org/1999/xhtml', xml:lang='en', lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Home - BJOG: An International Journal of Obstetrics & Gynaecology
        meta(name='description', content='BJOG An International Journal of Obstetrics and Gynaecology')
        link(href='css/style.css', rel='stylesheet')
    body

        .main
            .header
                img(src='images/site_logo.jpg', id='logo')
                img(src='images/site_header_ad.jpg', id='logo-ad')

            .container
                .left
                    h4 JOURNAL MENU
                    .nav-bar
                    .menu
                        ul.menu-item#menu
                            li.n1.nav Navigation Item 1
                                ul.menu-item-sub#n1(style="display: none;")
                                    li
                                        a(href="#") Navigation Item 1
                                    li
                                        a(href="#") Navigation Item 2
                            li.n2.nav Navigation Item 2
                                ul.menu-item-sub#n2(style="display: none;")
                                    li
                                        a(href="#") Navigation Item 3
                                    li
                                        a(href="#") Navigation Item 4
                            li.n3.nav Navigation Item 3
                                ul.menu-item-sub#n3(style="display: none;")
                                    li
                                        a(href="#") Navigation Item 5
                                    li
                                        a(href="#") Navigation Item 6
                            li.n4.nav Navigation Item 4
                                ul.menu-item-sub#n4(style="display: none;")
                                    li
                                        a(href="#") Navigation Item 7
                                    li
                                        a(href="#") Navigation Item 8

                            li
                                a(href="#") Another Item 1
                            li
                                a(href="#") Another Item 2
                            li
                                a(href="#") Another Item 3
                .center
                    .journal
                        img(src='images/BJOG_cover.jpg', id='journal-cover')
                        h2 BJOG: An International Journal of Obstetrics and Gynaecology

                        .copyright
                            h6 Copyright © 2009
                        .text
                            strong.dark-grey Published on behalf of the&nbsp;
                                a(href="#") Royal College of Obstetricians and Gynaecologists
                            br
                            strong Edited by:
                            |  Philip Steer
                            br
                            strong ISI Journal Citation Reports Ranking: 2007:
                            |  11/60 (Obstetrics & Gynecology)
                            br
                            strong Impact Factor:
                            |  2.666

                    .blocks
                        .block.b-left
                            .b-head
                                h4 HEADING 1
                            .b-body
                                strong A Dummy Title
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel arcu risus!
                                    |Maecenas vulputate purus sit amet enim faucibus vitae aliquet tellus laoreet.
                                    |Ut lacinia gravida dui eu tempus!
                                br
                                span.more
                                    strong
                                        a(href="#") More

                        .block.b-left
                            .b-head
                                h4 HEADING 2
                            .b-body
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel arcu risus!
                                    |Maecenas vulputate purus sit amet enim faucibus vitae aliquet tellus laoreet.
                                    |Ut lacinia gravida dui eu tempus!

                                br

                                span.link
                                    a(href="#") link


                        .block.b-rigth
                            .b-head
                                h4 HEADING 3
                            .b-body
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel arcu risus!
                                | Maecenas vulputate purus sit amet enim faucibus vitae aliquet tellus laoreet.
                                | Ut lacinia gravida dui eu tempus!
                                p Morbi mollis suscipit odio sit amet pellentesque. Nunc tellus odio, commodo eu semper eu, blandit id lorem.

                        .block.b-rigth
                            .b-head
                                h4 HEADING 4
                            .b-body
                                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vel arcu risus!
                                    |Maecenas vulputate purus sit amet enim faucibus vitae aliquet tellus laoreet.
                                    |Ut lacinia gravida dui eu tempus!
                                ul
                                    li Donec hendrerit libero 1
                                    li Donec hendrerit libero 2
                                    li Donec hendrerit libero 3
                                    li Donec hendrerit libero 4

                .right
                    .search
                        .search-box-top
                        span#search SEARCH
                        .input-search
                            input(type='text', class='input', id='searchInput')
                            input(type='submit', class='submit', value='GO', id='searchSubmit')

                    .ads
                        .ads-box-top
                        img(src='images/advert1.jpg', class='adverts')
                        img(src='images/advert2.jpg', class='adverts')
                        img(src='images/advert3.jpg', class='adverts')
            .footer
                .footer-logo
                    img(src='images/wiley_logo.gif')

                .footer-links
                    a(href="#") Privacy Policy
                    span.footer-sep
                        |  |
                .footer-links
                    a(href="#") Terms of Service
                    span.footer-sep
                        |  |
                .footer-links
                    a(href="#") Copyright
                    span.footer-sep
                        |  |
                .footer-links
                    a(href="#") Wiley.com

        script(src='js/script.js')
